/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;

}

nav #logo-container{
margin-top: 1%;
margin-bottom: 1%;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 80%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

footer .social-media{
  display:inline-block
}

#formulario{
  margin: 20px auto;
}

@media only screen and (min-width : 415px){
  section .parallax-container{
   width: 30%;
   height: auto;
   margin: 30px;
   display: inline-block;
  }
}

@media only screen and (max-width: 414px){
  section .parallax-container{
    width: 80%;
    height: auto;
    margin: 30px;
    display: block;
  }


  
}

